/* Variables */
:root {
  --dark: #282828;
  --accent: #fffee4;
}

/* Layout */
/* Background pattern from Toptal Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/greek-vase-pattern/) */
body {
  background-image: url("../images/ui/background.png");
}

.bg-dark {
  background-color: var(--dark) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.btn-dark {
  background-color: var(--dark) !important;
}

.rounded {
  border-radius: 8px !important;
}

.rounded-bottom-start {
  border-radius: 0 0 0 8px;
}

.rounded-bottom-end {
  border-radius: 0 0 8px 0;
}

.rounded-top-start {
  border-radius: 8px 0 0 0;
}

.rounded-top-end {
  border-radius: 0 8px 0 0;
}

.container-first {
  margin-top: 80px;
}

.image_center {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-sidebar a {
  text-decoration: none;
}

input[type="text"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* Fonts */
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

h2,
a {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

button {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

h3,
h4,
h5 {
  font-family: "IBM Plex Mono", monospace;
}

/* Elements */
.btn {
  border-radius: 8px !important;
}

.btn:hover {
  background-color: grey !important;
  transition: 0.3s ease;
  border: 1px solid grey;
}

.icon-container {
  margin-left: 25px;
}

.icon-container i {
  font-size: 18px;
  padding: 10px;
}

.icon-container i:hover {
  color: grey !important;
  transition: 0.3s ease;
}

/* Navigation */
.navbar-brand img {
  height: 35px;
  padding: 0px;
}

.navbar-hamburger_icon img {
  max-height: 34px;
}

.navbar-toggler {
  border: none;
}

.nav-item ul a {
  text-decoration: none;
}

.nav-icons img {
  height: 18px;
}

/* Carousel */
.carousel-item img {
  height: 500px;
  object-fit: cover;
  filter: brightness(80%);
}

.carousel {
  margin-top: 40px;
}

/* Product container */
.card-img-top {
  height: 320px;
  object-fit: cover;
}

.card:hover {
  transition: 0.1s ease;
  opacity: 0.8;
  cursor: pointer;
}

.load-more:hover {
  cursor: pointer;
  transition: 0.1s ease;
  opacity: 0.6;
}

.card a {
  text-decoration: none;
}

.shop-categories_image {
  filter: brightness(80%);
}

/* Products page */
.product-image_main {
  height: 510px;
}

.product-image_side img {
  height: 255px;
}

.product-image_main:hover,
.product-image_side img:hover {
  transition: 0.1s ease;
  opacity: 0.8;
  cursor: pointer;
}

/* Newsletter container */
.newsletter-container {
  margin-bottom: 110px;
}

/* Review container */
.review-container {
  background-color: var(--accent);
}

.review-side {
  height: 610px;
}

.image-review {
  object-fit: cover;
}

/* Footer */
footer a {
  text-decoration: none;
}

/* --- md screen size --- */
@media screen and (max-width: 989px) {
  /* Navigation */
  .nav-item {
    font-size: 20px;
  }

  /* Elements */
  .icon-container {
    margin-left: -60px !important;
  }

  .icon-container i {
    font-size: 20px !important;
    padding: 2px;
  }

  /* Products page */
  .product-image_main {
    height: 360px;
  }

  .product-image_side img {
    height: 180px;
  }
}

/* --- sm screen size --- */
@media screen and (max-width: 575px) {
  /* Carousel */
  .carousel-item img {
    height: 300px;
  }

  /* Review container */
  .review-side {
    height: 450px;
  }
}
