/* Variables */
:root {
  --dark: #282828;
  --accent: #fffee4;
}

/* Layout */
/* Background pattern from Toptal Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/greek-vase-pattern/) */
body {
  background-image: url("../images/ui/background.png");
}

.bg-dark {
  background-color: var(--dark) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.btn-dark {
  background-color: var(--dark) !important;
}

.rounded {
  border-radius: 8px !important;
}

/* Elements */
.btn {
  border-radius: 8px !important;
}

.btn:hover {
  background-color: grey !important;
  transition: 0.3s ease;
  border: 1px solid grey;
}

.icon-container {
  margin-left: 25px;
}

.icon-container i {
  font-size: 18px;
  padding: 10px;
}

.icon-container i:hover {
  color: grey !important;
  transition: 0.3s ease;
}

/* Navigation */
.navbar-brand img {
  height: 45px;
  margin: -5px;
  padding: 0px;
}

.navbar-hamburger_icon img {
  max-width: 34px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: black !important;
}

/* Carousel */
.carousel-item img {
  height: 500px;
  object-fit: cover;
  filter: brightness(80%);
}

.carousel {
  margin-top: 53px;
}

/* Product container */
.card-img-top {
  height: 320px;
  object-fit: cover;
}

.card:hover {
  transition: 0.1s ease;
  opacity: 0.8;
  cursor: pointer;
}

.load-more:hover {
  cursor: pointer;
  transition: 0.1s ease;
  opacity: 0.6;
}

/* Newsletter container */
.newsletter-container {
  margin-bottom: 110px;
}

/* Review container */
.review-container {
  background-color: var(--accent);
}

.cta {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-side {
  height: 610px;
}

.image-review {
  object-fit: cover;
}

/* 404 page */
.error-container {
  margin-top: 100px;
}

/* Footer */
footer a {
  text-decoration: none;
}

/* --- md screen size --- */
@media screen and (max-width: 989px) {
  /* Navigation */
  .nav-item {
    font-size: 20px;
  }

  /* Elements */
  .icon-container {
    margin-left: -60px !important;
  }

  .icon-container i {
    font-size: 20px !important;
    padding: 2px;
  }
}

/* --- sm screen size --- */
@media screen and (max-width: 575px) {
  /* Carousel */
  .carousel-item img {
    height: 300px;
  }

  /* Review container */
  .review-side {
    height: 450px;
  }
}
